
 <!--<p><strong>Title: </strong><%#= @book.title %></p>-->
 <!--<p><strong>Body: </strong><%#= @book.body %></p>-->

<div class="showbox">
   　<div class="showtitle">Title:<%= @book.title %></div>
     <div class="showbody">Body:<%= @book.body %></div>
   </div>






<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
